html *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: #9e7b0a;
}
a:visited {
  color: inherit; /* quita el morado */
}
a:active {
  color: #9e7b0a;
}

body{
  font-family: "Inter", sans-serif;
}
.btn-enlace{
  color: #b9910e;
  cursor: pointer;
  text-decoration: underline;
}
.btn-principal{
  all: unset;
  background-color: #a1a1aa;
  color: #fffefe;
  border-radius: 4px;
  padding: .25em .95em ;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.123);
  transition: transform ease-in .2s;
  &:hover{
   transform: scale(1.02);
  }
}
.btn-secundario{
  all: unset;
  font-size: 12px;
  background-color: #e2e2df;
  border-radius: 4px;
  padding: .25em .95em ;
  transition: transform ease-in .2s;
  &:hover{
   transform: scale(1.02);
  }
}

.enlace-activo{
  font-weight: bold;
  border-bottom: 3px solid rgb(116, 114, 114);
}

header{
  display: flex;
  margin:auto;
  max-width: 900px;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

.img-logo{
  width: 90px;
}

.nav ul{
  display: flex;
  gap: 1.5em;
}

.nav ul li{
  list-style: none;
  display: flex;
  align-items: center;
}

.nav ul li a{
  text-decoration: none;
  transition: border ease-in .1s ;
}
.nav ul li a:hover{
  border-bottom: 3px solid rgb(116, 114, 114);

}

.main{
  min-height: 60vh;
  padding-top: 40%;
  background-image: url('../img/img-fondo.jpg');
  background-size: cover;
  background-position: center;
  
}

.loginForm-container{
  max-width: 900px;
  margin: auto;
  padding-top: 40%;
  min-height: 60vh;
  position: relative;
  margin-top: -40%;
}

.loginForm{
  position: absolute;
  right: 20px;
  bottom: 20%;
  background: linear-gradient(
    135deg,
    #f7f5f5d5 0%,
    #ffffff86 40%,
    #ffffff 100%
  );
  width: 277px;
  padding: 1.88em;
  border-radius: .55em .55em 1em 1em;
}

/* Estilos para los formularios */
.loginForm-inputs,
.formRegistro-inputs{
  padding-top: .55em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  gap: .55em;
  
}

.loginForm-inputs input,
.formRegistro-inputs input{
  height: 30px;
  padding: 0 .55em;
  border: solid #b8bcbd 1px;
  border-radius: 4px;
}
.loginForm-inputs .recuerdame{
  display: flex;
  align-items: center;
  gap: .25em;
  font-size: .88em;
}
.loginForm-inputs p{
  font-size: .85em;
}

.loginForm button[type="submit"]{
  background-color: #717179;
  color: aliceblue;
  border: none;
  padding: .55em 2em;
  text-align: center;
}




/*
  Estilos para la página de usuario y registro de formulario
*/
.intro-user-container,
.intro-formRegistro-container{
  background-image: url('../img/img-fondo-uno.webp');
  min-height: 270px;
  background-size: cover;
  background-position: center;
}
.intro-user-content,
.intro-formRegistro-content{
  position: relative;
  padding: 0 1em;
  margin: auto;
  max-width: 900px;
  min-height: 270px;

}
.intro-user-content-title,
.intro-formRegistro-title{
  padding: 2.5em 5em 2em;
  line-height: 3em;
}

.intro-user-content-title h1{
  font-weight: 400;
}
.intro-user-content-title button{
  margin-top: 1em;
  line-height: 2em;
}

.intro-user-img-doc{
  width: 310px;
  position: absolute;
  right: 5em;
  bottom: -5em;
  z-index: 5;
}

.citas-container{
  
}
.citas-container-content{
  padding: 0 1em;
  margin: auto;
  max-width: 900px;
}
.citas-container-content h2{
  padding: 1em 0;
  display: flex;
  gap: .55em ;
  align-items: center;
}
.citas-container-content h2 div{
    background-color: #f5f7f8;
    height: 4px;
    width: 50%;
  }

.citas-table-container {
  border-radius: .45em;
  overflow: hidden; /* 🔥 clave */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
}
.citas-table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  background-color: #fdfdfd;
  z-index: 10;
}
.citas-table thead {
  background-color: #e9ebeb;
}
.citas-table thead tr {
  height: 45px;
}
.citas-table thead th {
  text-align: left;
  padding: 10px;
  font-weight: 600;
}
.citas-table tbody tr {
  border-top: 1px solid #ccd8dd;
  height: 45px;
  transition: background 0.2s ease;
}

.citas-table tbody td {
  padding: 10px;
}
.citas-table tbody tr:hover {
  background-color: #f5f7f8;
}


/* 
 Estilos para el registro de formulario
*/

.intro-formRegistro-container{
  background-image: url('../img/img-fondo-dos.webp');
}

.intro-formRegistro-content .intro-user-img-doc{
  width: 270px;
  position: absolute;
  right: 1em;
  bottom: -.55em;
  z-index: 5;
}

.formRegistro-content{
  max-width: 400px;
  margin: auto;
  padding: 0 1em;
}
.formRegistro-content h2{

  padding: 1em 0;
}

.formRegistro-btns{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.formRegistro-btns button{
  width: 250px;
  height: 35px;
  text-align: center;
}

/* Estilos para la función que cambia estilos */
.estilos-nuevos-uno{
    background: linear-gradient(
    135deg,
    #f5f7f7f2 0%,
    #b9bbd3db 40%,
    #f1ebf2 100%
  );
  & a{
    color: #bd0ddc;
    font-weight: bold;
  }
  & button{
    background-color: #bd0ddc;
  }
}


.estilos-nuevos-dos{
    background: linear-gradient(
    135deg,
    #707474f2 0%,
    #121719db 40%,
    #878088 100%
  );
  & a{
    color: #6fd813;
    font-weight: bold;
  }
  & button{
    background-color: #6fd813;
  }
}